.vscode/ipch/ca9111386ab7e75b/pthread.ipch
.vscode/settings.json
.vscode/ipch/ca9111386ab7e75b/mmap_address.bin
.vscode/ipch/f3864ee646d84209/mmap_address.bin
.vscode/ipch/f3864ee646d84209/simple_shell.ipch
